.container.footer{padding: 72px 0 69px;background: var(--cor1);}
.container.footer .parent .logo .imagem{width: 143px;height: 91px;margin: 0 0 28px;}
.container.footer .parent .logo .titulo{font: 300 18px / 20px var(--font1);color: var(--cor2);}