.container.header{padding: 13px 39px;background: var(--cor1);justify-content: space-between;align-items: center;}
.container.header .pagina-info{gap: 24px;align-items: center;justify-content: flex-start;}
.container.header .pagina-info .logo{display: block;width: 73px;height: 51px;flex: 0 0 auto;}
.container.header .pagina-info .separator{font: 400 34px var(--font1);color: var(--cor3);}
.container.header .pagina-info .pagina{font: 600 28px var(--font1);color: var(--cor2);transition: .4s;}
.container.header .pagina-info .pagina:hover{cursor: pointer;color: var(--cor3);}

.container.header .paginas .lista-paginas{gap: 17px;}
.container.header .paginas .lista-paginas .pagina{display: flex;align-items: center;justify-content: center;gap: 8px;padding: 6px 16px;border-radius: 2px;border: 1px solid var(--cor3);transition: .4s;font: 400 18px / 22px var(--font1);color: var(--cor2);align-items: center;}
.container.header .paginas .lista-paginas .pagina:hover,
.container.header .paginas .lista-paginas .pagina.ativo{background: var(--cor3);}
.container.header .paginas .lista-paginas .pagina .icone{flex: 0 0 auto;width: 12px;height: 12px;}
.container.header .paginas .lista-paginas .logo-mobile-parent{display: none;}
.container.header .paginas > .fechar{display: none;}
.container.header .botoes-mobile{display: none;}

@media(max-width: 1300px){
    .container.header .paginas .lista-paginas{gap: 15px;}
    .container.header .paginas .lista-paginas .pagina{font-size: 16px;line-height: 18px;}
}

@media(max-width: 1050px){
    .container.header .paginas .lista-paginas{gap: 12px;}
    .container.header .paginas .lista-paginas .pagina{font-size: 15px;line-height: 17px;}
}

@media(max-width: 990px){
    .container.header{padding: 12px 5%;}
    .container.header .pagina-info{gap: 15px;}
    .container.header .pagina-info .pagina{font-weight: 500;font-size: 24px;}
    .container.header .pagina-info .logo{width: 60px;aspect-ratio: 73/51;height: auto;margin: 0 0 8px;}

    .container.header .paginas{--fechar: 80px;position: fixed;right: 100%;top: 0;width: 100%;height: 100%;background: #0006;z-index: 10;transition: .4s;}
    .container.header .paginas.open{right: 0;}
    .container.header .paginas > .fechar{display: block;position: absolute;right: 0;top: 0;display: grid;place-items: center;width: var(--fechar);aspect-ratio: 3/2;background: #d23;color: #fff;font: 20px sans-serif;font-weight: 700;user-select: none;}
    .container.header .paginas > .fechar:hover{cursor: pointer;}
    .container.header .paginas .lista-paginas{width: calc(100% - var(--fechar));background: var(--cor1);height: 100%;box-sizing: border-box;padding: 20px 15px 0;}
    .container.header .paginas .lista-paginas{display: block;}
    .container.header .paginas .lista-paginas .pagina{margin: 0 0 15px;justify-content: flex-start;font-size: 18px;line-height: 24px;}
    .container.header .paginas .lista-paginas .logo-mobile-parent{display: block;}
    .container.header .paginas .lista-paginas .logo-mobile .imagem{height: 80px;margin: 0 0 45px;display: block;width: fit-content;}

    .container.header .botoes-mobile{display: flex;align-items: center;justify-content: flex-end;gap: 20px;}
    .container.header .botoes-mobile .menu{flex: 0 0 auto;border-radius: 3px;border: 1px solid var(--cor3);padding: 10px;user-select: none;transition: .4s;}
    .container.header .botoes-mobile .menu:hover{cursor: pointer;background: var(--cor3);}
    .container.header .botoes-mobile .menu .icone{flex: 0 0 auto;width: 14px;}
}

@media(max-width: 400px){
    .container.header .paginas{--fechar: 50px;}
}